<button class="btn btn-primary dt-new-filter">New Filter</button>
<label class="btn btn-primary">
  <input class="dt-invert-filter" type="checkbox" autocomplete="off"> Invert Filter
</label>
<div class="btn-group">
  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" >Hidden: <span data-label-placement></span>  <span class="caret"></span></button>
    <ul class="dropdown-menu">
      {{#each colnames}}
      <li><input type="checkbox" id="hide-col-{{this}}"><label for="hide-col-{{this}}" name="{{this}}" value="{{this}}">{{this}}</label></li>
      {{/each}}
    </ul>
</div>
