<li class="dq-sort-list-item" data-columnname="{{item.column.name}}" data-columntype="{{item.column.type}}" data-aggregate="{{item.column.aggregate}}" data-table="{{item.table}}" data-string="{{item.string}}">
  <div class="btn-group" role="group" aria-label="..."> 
    <button type="button" class="btn btn-default btn-mini dq-sort-delete-btn">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" disabled><span>{{item.string}}</span></button>
  </div>
</li>
