<li>
<a href="#" class="dq-sort-link" data-columnname="{{item.column.name}}" data-columntype="{{item.column.type}}" data-aggregate="{{item.column.agg}}" data-table="{{item.table}}" data-string="{{item.string}}">
    {{item.string}}
  </a>
</li>
